<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderly</title>
</head>
<body>
    <h1>WANDERLY</h1>
    <div class="container">
        <%- body%>
    </div>
</body>
</html>


<!-- EJS-Mate allows us to write common code once in boilerplate.ejs and reuse it for every page (like index.ejs, show.ejs, edit.ejs).
Since the content changes on each page, EJS-Mate dynamically inserts that content using -->


