/* body{
    background-color: rgb(197, 91, 139);
} */

.navbar{
    height: 5rem;
    background-color: white;
}


/* 
    Styles the logo icon
    changes the defaukt color to #a3396e(pink)
    increases the size of the icon
 */
.fa-earth-americas{
    color: #a3396e;
    font-size: 2rem;
}

/*
    Navigation links (Home,Listing,..) Styling
    Increases the appearance i.e., darkens the font color
*/
.nav-link{
    color: #222222 !important;  /*!important : No matter what, make the text color #222222 */
}

/* Footer links styling */
.f-info-links a{
    text-decoration: none;
    color: #222222
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.company-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-socials i{
    font-size: 1.2rem;
    margin-right: 1.2rem;
}
.f-info{
    height: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
}