body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

.navbar{
    height: 5rem;
    background-color: white;
}


/* 
    Styles the logo icon
    changes the defaukt color to #a3396e(pink)
    increases the size of the icon
 */
.fa-earth-americas{
    color: #a3396e;
    font-size: 2rem;
}

/*
    Navigation links (Home,Listing,..) Styling
    Increases the appearance i.e., darkens the font color
*/
.nav-link{
    color: #222222 !important;  /*!important : No matter what, make the text color #222222 */
}

/* Footer links styling */
.f-info-links a{
    text-decoration: none;
    color: #222222
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.company-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-socials i{
    font-size: 1.2rem;
    margin-right: 1.2rem;
}
.f-info{
    height: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
    background-color: azure;
}

/* Cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;

    /* 
     object-fit: cover
    👉 It fills the container completely
    👉 Keeps the aspect ratio
    👉 Crops extra parts if needed
    👉 No stretching, no distortion ✅ */
}

.card-body{
    padding: 0; /*Removes padding around text */
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}